/* ======== Обнуление ======== */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

hr {
    margin: 50px 100px;
}

/* ====X==== Обнуление ====X==== */

.navigation-menu {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 15px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.navigation-menu:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #353535;
    z-index: 3;
}

.navigation-menu img {
    width: 50px;
    z-index: 3;
}

.navigation-menu__links {
    display: flex;
    margin-left: 15px;
    z-index: 3;
}

.navigation-menu__item:not(:last-child) {
    margin-right: 15px;
}

.navigation-menu__item a {
    color: white;
    transition-property: border-bottom;
    transition-duration: .5s;
}

.navigation-menu__item a:hover {
    border-bottom: 1px solid white;
}

.fullscreen-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center / cover url('images/db2018au00604-large.jpg');
    height: 100%;
}

.fullscreen-image h1 {
    color: white;
    font-weight: 1500;
    font-size: 7em;
    text-shadow: black 0 10px 10px;
    margin-top: 80px;
}

.short-info {
    margin: 20px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.short-info__item {
    text-align: center;
}

.short-info__title {
    font-size: .8em;
}

.short-info__value {
    font-size: 1.6em;
    font-weight: bold;
}

.short-info__small {
    font-weight: bold;
}

.main-paragraph, .section {
    margin: 0 200px;
}

.main-paragraph__main {
    font-size: 2.2em;
}

.main-paragraph__sub {
    margin-top: 50px;
    font-size: 1.4em;
    line-height: 1.6em;
}

.burger-menu {
    display: none;
}

.burger-menu:hover {
    cursor: pointer;
}

.carousel__buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 50px;
}

.carousel__previous, .carousel__next {
    transition: color 0.3s ease;
}

.carousel__previous:hover,
.carousel__next:hover {
    cursor: pointer;
    color: #2f82ff;
}

.carousel__next.disabled,
.carousel__previous.disabled,
.carousel__next.disabled:hover,
.carousel__previous.disabled:hover {
    color: rgba(0, 0, 0, 0.2);
    cursor: default;
}

.carousel {
    width: 1150px;
    margin: 20px auto 50px;
    overflow: hidden;
}

.carousel__visible-box {
    width: 4000px;
    display: flex;
    transition: margin-left 0.5s;
}

.carousel__visible-box.item1 {
    margin-left: 0;
}

.carousel__visible-box.item2 {
    margin-left: -1950px;
}

.carousel__visible-box.item3 {
    margin-left: -3900px;
}

.carousel__item {
    margin-right: 1000px;
    display: flex;
    justify-content: space-between;
}

.carousel__item__title {
    font-weight: bold;
    font-size: 1.8em;
}

.carousel__item__subtitle {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.carousel__item__beforeprice, .carousel__item__price {
    font-size: 1.4em;
}

.carousel__item__price {
    font-weight: bold;
}

.carousel__item__features {
    list-style: '+';
    padding-left: 10px;
    margin-top: 20px;
    width: 450px;
}

.carousel__item__features li {
    padding-left: 5px;
    margin-bottom: 5px;
}

.carousel__item__picture.pic1 {
    background: url('images/front-ce.jpg') no-repeat center;
    background-size: cover;
}

.carousel__item__picture.pic2 {
    background: url('images/front-le-tdi.jpg') no-repeat center;
    background-size: cover;
}

.carousel__item__picture.pic3 {
    background: url('images/front-le-tsi.jpg') no-repeat center;
    background-size: cover;
}

.carousel__item__picture {
    position: relative;
    height: 300px;
    width: 500px;
    background-size: cover;
    right: -200px;
    z-index: -1;
}

.scroll-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: -100px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #353535;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    z-index: 30;
    transition: background-color 0.3s;
    transition: all 0.3s ease;
}

.scroll-top.visible {
    right: 20px;
}

.scroll-top:hover {
    cursor: pointer;
    background-color: #2f82ff;
}

.scroll-top i {
    font-size: 25px;
    color: white;
}

.section__title {
    font-weight: bold;
    font-size: 3.6em;
}

.section__subtitle {
    margin-top: 20px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 1.4em;
}

.section__desc {
    margin-top: 30px;
    padding: 0 20px;
    line-height: 25px;
}

.design-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    column-gap: 10px;
    justify-content: space-between;
}

.design-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    border-radius: 5%;
    overflow: hidden;
}

.design-grid__picture {
    width: 300px;
    height: 200px;
}

.design-grid__picture.pic1 {
    background: url('images/vw-tiguan-silber-exterieur-heck.jpg') no-repeat center;
    background-size: cover;
}

.design-grid__picture.pic2 {
    background: url('images/interieur.jpg') no-repeat center;
    background-size: cover;
}

.design-grid__picture.pic3 {
    background: url('images/vw-tiguan-rot-led-scheinwerfer.jpg') no-repeat center;
    background-size: cover;
}

.design-grid__picture.pic4 {
    background: url('images/vw-tiguan-felgen.jpg') no-repeat center;
    background-size: cover;
}

.design-grid__title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.4em;
}

.design-grid__desc {
    margin-top: 10px;
    line-height: 25px;
    padding: 0 10px 10px 10px;
}

@media (max-width: 1645px) {
    .design-grid {
        grid-template-columns: repeat(2, 300px);
        justify-content: space-around;
        row-gap: 50px;
    }
}

@media (max-width: 1280px) {
    .fullscreen-image h1 {
        font-size: 5em;
    }

    .main-paragraph, .section {
        margin: 0 100px;
    }

    .main-paragraph__main {
        font-size: 1.8em;
    }
    
    .main-paragraph__sub {
        font-size: 1em;
        line-height: 1.6em;
    }

    .carousel {
        width: 500px;
        margin: 50px auto;
    }

    .carousel__item {
        flex-direction: column;
        align-items: center;
    }

    .carousel__item__picture.pic1 {
        bottom: 150px;
    }

    .carousel__item__picture.pic2 {
        bottom: 50px;
    }

    .carousel__item__picture {
        height: 250px;
        right: 0;
    }

    .carousel__visible-box.item1 {
        margin-left: 0;
    }
    
    .carousel__visible-box.item2 {
        margin-left: -1500px;
    }
    
    .carousel__visible-box.item3 {
        margin-left: -2975px;
    }
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }

    .burger-menu {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .burger-box:hover {
        cursor: pointer;
    }

    .navigation-menu {
        justify-content: space-between;
    }

    .navigation-menu img {
        z-index: 3;
    }

    .burger-menu span {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        z-index: 3;
        transition: all 0.3s ease;
    }

    .burger-menu:before,
    .burger-menu:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 3;
        transition: all 0.3s ease;
    }

    .burger-menu:before {
        top: 0;
    }

    .burger-menu:after {
        bottom: 0;
    }

    .burger-menu.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .burger-menu.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .burger-menu.active span {
        transform: scale(0);
    }

    .navigation-menu__links {
        top: -100%;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #3d3d3d;
        flex-direction: column;
        padding: 100px 0 0 15px;
        z-index: 1;
        transition: top 0.3s ease;
    }

    .navigation-menu__links.active {
        top: 0;
    }

    .navigation-menu__links li {
        margin-bottom: 20px;
    }

    .scroll-top {
        width: 50px;
        height: 50px;
        font-size: 5px;
    }

    .scroll-top i {
        font-size: 15px;
    }

    hr {
        margin: 50px;
    }

    .short-info {
        margin: 20px 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .main-paragraph, .section {
        margin: 0 50px;
    }

    .carousel {
        width: auto;
        margin: 50px;
    }

    .carousel__item__picture {
        width: 350px;
    }

    .carousel__visible-box.item1 {
        margin-left: 0;
    }
    
    .carousel__visible-box.item2 {
        margin-left: -1365px;
    }
    
    .carousel__visible-box.item3 {
        margin-left: -2680px;
    }

    .carousel__item__features {
        width: 250px;
    }

    .design-grid {
        grid-template-columns: 300px;
        row-gap: 50px;
    }
}

@media (max-width: 479px) {
    .short-info {
        grid-template-columns: 1fr;
    }

    .carousel {
        margin: 50px 5px 20px;
    }

    .carousel__item__picture {
        height: 200px;
        width: 250px;
        background-size: cover;
    }

    .carousel__item__picture.pic3 {
        right: 100px;
    }

    .carousel__visible-box.item1 {
        margin-left: 0;
    }
    
    .carousel__visible-box.item2 {
        margin-left: -1270px;
    }
    
    .carousel__visible-box.item3 {
        margin-left: -2520px;
    }
}